html,body{height: 100%;
background: lightblue;}

article{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    

}
article div{
    perspective: 9000px;
    position: relative;
    animation: hoon2 10s;
    transform-style: preserve-3d;
    box-shadow: ;
    
}

article div p{width:300px;
height: 300px;
position: absolute;
top:50px; right:0px;
border:3px solid white;
}

article div p:nth-of-type(1){
    transform: rotateY(0deg) translateZ(150px) ;
    background: url(../ing/img01.png) no-repeat
    ;
    background-size: 100% 100%;
}
article div p:nth-of-type(2){
    transform: rotateY(-90deg) translateZ(150px) ;
    background: red;
}
article div p:nth-of-type(3){
    transform: rotateY(90deg) translateZ(150px) ;
    background: url(../ing/img1.jpg)
}
article div p:nth-of-type(4){
    transform: rotateY(-0deg) translateZ(-150px) ;
    background: url(../ing/img1.jpg) no-repeat
    ;
    background-size: 100% 100%;
    
}
article div p:nth-of-type(5){
    transform: rotateX(-90deg) translateZ(-150px) ;
    background: tomato;
    
}
article div p:nth-of-type(6){
    transform: rotateX(270deg) translateZ(150px) ;
    background: url(../ing/img01.png) no-repeat
    ;
    background-size: 100% 100%;
}

/* box1
article .box1{
    perspective: 9000px;
    position: relative;
    animation: hoon2 20s infinite;
    transform-style: preserve-3d;
    
}

article .box1 p{width:300px;
height: 300px;
position: absolute;
top:50px; right:350px;
background-color: tomato;
}

article .box1 p:nth-of-type(1){
    transform: rotateY(0deg) translateZ(150px) ;
    background: url(../ing/img01.png) no-repeat
    ;
    background-size: 100% 100%;
}
article .box1 p:nth-of-type(2){
    transform: rotateY(-90deg) translateZ(150px) ;
    background: red;
}
article .box1 p:nth-of-type(3){
    transform: rotateY(90deg) translateZ(150px) ;
    background: url(../ing/img1.jpg)
}
article .box1 p:nth-of-type(4){
    transform: rotateY(-0deg) translateZ(-150px) ;
    background: url(../ing/img1.jpg) no-repeat
    ;
    background-size: 100% 100%;
    
}
article .box1 p:nth-of-type(5){
    transform: rotateX(-90deg) translateZ(-150px) ;
    background: tomato;
    
}
article .box1 p:nth-of-type(6){
    transform: rotateX(270deg) translateZ(150px) ;
    background: url(../ing/img01.png) no-repeat
    ;
    background-size: 100% 100%;
} */
/* box2 */
/* article .box2{
    perspective: 9000px;
    position: relative;
    animation: hoon2 20s infinite;
    transform-style: preserve-3d;
    
}

article .box2 p{width:300px;
height: 300px;
position: absolute;
top:50px; left:500px;
background-color: tomato;
}

article .box2 p:nth-of-type(1){
    transform: rotateY(0deg) translateZ(150px) ;
    background: url(../ing/img01.png) no-repeat
    ;
    background-size: 100% 100%;
}
article .box2 p:nth-of-type(2){
    transform: rotateY(-90deg) translateZ(150px) ;
    background: red;
}
article .box2 p:nth-of-type(3){
    transform: rotateY(90deg) translateZ(150px) ;
    background: url(../ing/img1.jpg)
}
article .box2 p:nth-of-type(4){
    transform: rotateY(-0deg) translateZ(-150px) ;
    background: url(../ing/img1.jpg) no-repeat
    ;
    background-size: 100% 100%;
    
}
article .box2 p:nth-of-type(5){
    transform: rotateX(-90deg) translateZ(-150px) ;
    background: tomato;
    
}
article .box2 p:nth-of-type(6){
    transform: rotateX(270deg) translateZ(150px) ;
    background: url(../ing/img01.png) no-repeat
    ;
    background-size: 100% 100%;
} */

/* box3 */
article .box3{
    perspective: 9000px;
    position: relative;
    animation: hoon2 15s;
    transform-style: preserve-3d;
    
    
}

article .box3 p{width:300px;
height: 300px;
position: absolute;
top:50px; left:100px;
border:3px solid white;
/* box-shadow:  0px 10px 0px 10px gray; */

}

article .box3 p:nth-of-type(1){
    transform: rotateY(0deg) translateZ(150px) ;
    background: url(../ing/img01.png) no-repeat
    ;
    background-size: 100% 100%;
}
article .box3 p:nth-of-type(2){
    transform: rotateY(-90deg) translateZ(150px) ;
    background: red;
}
article .box3 p:nth-of-type(3){
    transform: rotateY(90deg) translateZ(150px) ;
    background: url(../ing/img1.jpg)
}
article .box3 p:nth-of-type(4){
    transform: rotateY(-0deg) translateZ(-150px) ;
    background: url(../ing/img1.jpg) no-repeat
    ;
    background-size: 100% 100%;
    
}
article .box3 p:nth-of-type(5){
    transform: rotateX(-90deg) translateZ(-150px) ;
    background: tomato;
    
}
article .box3 p:nth-of-type(6){
    transform: rotateX(270deg) translateZ(150px) ;
    background: url(../ing/img01.png) no-repeat
    ;
    background-size: 100% 100%;
}









@keyframes hoon2{
    0%{transform:rotateY(0deg) rotateX(30deg);}
    100%{transform:rotateY(0deg) rotateX(180deg);}
}



/* 
@keyframes hoon{
    0%{transform:rotateY(0deg) rotateX(30deg);}
    30%{transform:rotateY(120deg) ;}
    60%{transform:rotateY(240deg) rotateX(30deg)
        ;}
    100%{transform:rotateY(360deg) rotateX(-30deg)
        ;} */
