
    *{box-sizing: border-box;}
    .grades{
        margin:0 auto; width:100%; height:100vh;
        display:flex; justify-content: center;align-items: center;
        flex-direction: column;
    }
    .grades h1{}
    .grades table{width:400px; border-collapse: collapse;background:#f3f3f3;}
    .grades table th{padding:15px 0;border:1px solid #ddd;}
    .grades table td{padding:15px 0; border:1px solid #ddd; text-align:center;}
    .grades table td input{width:90%; padding:10px; border:1px solid #000;}
    .grades .btn{margin:20px 0 60px; text-align:center;}
