/*ex1*/
.detail img{width:620px; height:300px;}
.thum img{width:200px; height:140px;}
.thum img.active{box-sizing: border-box;border:5px solid #f00;}

.popup{
    width:100%; height:100%;
    background:rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
    position:fixed; top:0; left:0;
    display:none;
}
.popup img{}