@import url('common.css');
/*1200 1190*/


body{
}

/*---------------header*/
header{width:1200px;
    margin: 0 auto;
    
    }
header div{display: flex;
justify-content: space-between; align-items: center;}
header div h1{}
header div h1 img{}

header nav{}

header nav a{padding-left:20px;
font-size: 14px;
color: black;}

/*햄버거만들기*/
header div .menu{
position: relative;
    width:30px;
    height: 20px;
}
header div .menu span{
    position: absolute;
    width:100%; height: 2px;
    background: black;
   
    left:0px;
    
}
header div .menu span:nth-of-type(1){
    top:0px;
    
}
header div .menu span:nth-of-type(2){
    top:40%;
    width:50%
}
header div .menu span:nth-of-type(3){
    bottom:0;
    width:80%
}

header div .menu:hover span:nth-of-type(1){
    transform: rotate(45deg);
/*    각도*/
    top:45%;
}

header div .menu:hover span:nth-of-type(2){
    transform: translate(100%);
/*    투명*/
    opacity: 0;
}

header div .menu:hover span:nth-of-type(3){
    transform: rotate(-45deg); 
/*    각도*/
    bottom: 45%;
}

/*---------------section*/
section {position: relative;
width:1920px;
margin: 0 auto;}

section article .box{
    width:900px;
    background: white;
    position: absolute;
    top:20%;
    left:30%;
    padding:40px 60px;
    margin-top:100px;
box-shadow:0 0 10px rgba(0,0,0,0.3);
    transition: 1s;
}
section article .box:hover{
top:25%;


/*            x y blur color*/
}

section article{}
section article .box .flex{display: flex;
justify-content: space-between;
}

section article .box .flex a{padding-left: 20px;
}
    



section article .box h2{font-size: 20px;
margin-bottom:60px;
}

section article .box figure img{width:100%;
}

section article .box strong{font-size:20px;
margin-top: 40px}

section article .box .p2{font-size: 18px;
margin-top: 34px;
color: black;
word-spacing: 5px;}

section article .box .p2 mark{background: #fed38e;
color: black;}



/*footer*/
footer{background: white;
padding-top:190px;
padding-bottom: 90px;}


footer p{ text-align: center;
color: darkgray;}




