@import url('common.css');

body{background: #ede0df;
}

    
.header{width:100%;
text-align: center;
margin-top:80px;
position: absolute;
bottom: 0; left:0;}

.header div img{
}
.header h1{font-size: 83px;
    margin-bottom: 81px;

}

content{}

.nav ul li{font-size: 13px;}