@import url('common.css');
header {}

header article {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 90px 0 80px 0;
}

header article h1 {
    font-size: 2.4em;
    color: #222;
}

header article nav {}

header article nav a {
    font-size: 1.2em;
    font-weight: 600;
    color: #333;
    margin-left: 30px;
}

header article nav a:after {
    content: "";
    width: 0;
    height: 5px;
    background: #333;
    display: block;
    transition: .5s;
    margin: 0 auto;
}

header article nav a:hover:after {
    width: 100%;
}

section {}

section .spot {
    width: 1140px;
    margin: 0 auto;
    position: relative;
}

section .spot figure {
    position: relative;
    overflow: hidden;
}

section .spot figure img {
    transform:translateY(-50%);
    animation: spot 1s forwards;
    opacity: 0;
    width: 100%;
}

@keyframes spot{
    100%{transform: translateY(0);
    opacity: 1;}
    
}





section .spot figure figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section .spot figure figcaption span {
    color: #fff;
    font-size: 10em;
    font-weight: bold;
    text-shadow: 0 0 10px rgba(0, 0, 0, 6);
    
/*    overflow: hidden;*/
    height: 100px;
/*    padding-top:100px;*/
/*    transition: padding .5s;*/
    
}
section .spot figure figcaption span:nth-of-type(1){animation:txt .7s .5s forwards;
opacity: 0;}

section .spot figure figcaption span:nth-of-type(2){
    animation:txt .7s .5s forwards;
    opacity: 0;
}

@keyframes txt{
    0%{}
    100%{font-size: 5em;
        line-height: 0;
        opacity: 1;
/*        padding-top: 0px;*/
    }
}

section .spot p{
    position: absolute;
    left: 0; bottom:0;
    font-size: 1.1em;
    transform: rotate(-90deg) translateY(-150%);
    transform-origin: 0% 100%;
    
}
/*
section .spot figure:hover figcaption span{padding: 0;}

section .spot figure figcaption span:nth-of-type(2){
    transition-delay: .15s;
}
*/


.slide{
    width:1140px; margin:90px auto;
    position: relative;
}
.slide ul{}
.slide ul li{}
.slide ul li figure{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slide ul li figure p{
    order:2;
    width:50%;
}
.slide ul li figure > p img{
    width:100%;
}

.slide ul li figure figcaption{
    order:1;
    width:40%;
}
.slide ul li figure figcaption strong{
    font-size: 2.6em;
    color: #333;
    white-space: pre-line;
    text-transform: uppercase;
}
.slide ul li figure figcaption p{
    font-size: .8em;
    width:100%;
}
.slide ul li figure figcaption a{
    color: #333;
    margin-top:20px;
    text-decoration: underline;
}

.slide ul{
    position: relative;
    height:220px;
}
.slide ul li{
    position: absolute; top:0; left:0;
    width:100%;
    display: none;
}

.slide ul li:first-of-type{
    display: block;
}
.slide .num{
    position: absolute;
    right: 0; top:-30px;
    color: #333; font-weight: bold;
}
.slide .num code{
    color: #333; font-weight: bold;
}



footer {background:darkgray;
padding:30px;}
footer p{color: white;
text-align: center;}